body{
background-color: #ffcccc;

}

body{
    background-color: coral;
    color: rgb(182, 171, 17);
    font-size: 100px;
}
div{
background-color: brown;
padding: 20px;
border-style: dashed;
border-width: 5px;
border-color: chocolate;
margin: 50px;
}

img
{
    border-radius: 20px;
}
a{color: #024cad;}