body 
{
    background-color: hsl(0, 1%, 36%); 
    color: #e5e768; 
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #00bcd4;
    font-size: 40px; 
    margin-top: 30px;
}

img {
    width: 250px; 
    border-radius: 15px;
    margin: 20px 0;
}